{% if environment == "prod" -%}
changelorg.yarden-zamir.com
{%- else -%}
pr.{{ environment.removeprefix("pr-") }}.changelorg.yarden-zamir.com
{%- endif %} {
    reverse_proxy unix//{{ paths.default_socket }}
}
